In [6]:
import pandas as pd
import numpy as np
import pickle
pd.set_option('display.max_colwidth', None)

In [7]:
date_cols = [
'Date',
'Incident Create Date',
'Incident Start Datetime',
'Incident End Datetime',
'Incident Close Datetime',
'Origin Departure Date - Resp',
'Planned Origin WTT Datetime - Resp',
'Origin Departure Date - Affected',
'Actual Origin Actual Datetime - Affected',
'Actual Origin WTT Datetime - Affected',
'Planned Dest Actual Datetime - Affected',
'Planned Dest GBTT Datetime - Affected',
'Planned Dest WTT Datetime - Affected',
'Planned Origin WTT Datetime - Affected',
'Actual Start Datetime',
'Actual End Datetime',
'Event Datetime'
]

### Attributions_20140131_20190331

"we don’t want to use data prior to Dec 2019" (Nic Mansell)

In [8]:
fp = '../../local-data/input/Attributions-20140401-20190331.csv'
df1 = pd.read_csv(fp,
                 dtype=str,
                 encoding='ISO-8859-1', # to prevent unicode error
                 keep_default_na=True,
                 infer_datetime_format=True,
                 parse_dates = date_cols,
                 dayfirst=True
                )

In [9]:
# print(min(df1['Incident Start Datetime']))
# print(max(df1['Incident Start Datetime']))

### Attributions_20190401_20200616

In [10]:
fp = '../../local-data/input/Attributions-20190401-20200618.csv'
df2 = pd.read_csv(fp,
                 dtype=str,
                 encoding='ISO-8859-1', # to prevent unicode error
                 keep_default_na=True,
                 infer_datetime_format=True,
                 parse_dates = date_cols,
                 dayfirst=True
                )

In [11]:
df2 = df2[df2['Incident Start Datetime'] >= '2019-12-01 00:00:00']

In [12]:
print(min(df2['Incident Start Datetime']))
print(max(df2['Incident Start Datetime']))

2019-12-01 05:20:00
2020-06-16 20:40:00

### Attributions 20200617-20200831

In [13]:
fp = '../../local-data/input/Attributions 20200617-20200831.csv'
df3 = pd.read_csv(fp,
                 dtype=str,
                 encoding='ISO-8859-1', # to prevent unicode error
                 keep_default_na=True,
                 infer_datetime_format=True,
                 parse_dates = date_cols,
                 dayfirst=True
                )

In [14]:
df3 = df3[df3['Incident Start Datetime'] > '2020-06-16 20:40:00']

In [15]:
print(min(df3['Incident Start Datetime']))
print(max(df3['Incident Start Datetime']))

2020-06-18 12:03:00
2020-08-30 08:35:00

### Attributions-202009

In [16]:
fp = '../../local-data/input/Attributions-202009.csv'
df4 = pd.read_csv(fp,
                 dtype=str,
                 encoding='ISO-8859-1', # to prevent unicode error
                 keep_default_na=True,
                 infer_datetime_format=True,
                 parse_dates = date_cols,
                 dayfirst=True
                )

In [17]:
df4 = df4[df4['Incident Start Datetime'] > '2020-08-30 08:35:00']

In [18]:
print(min(df4['Incident Start Datetime']))
print(max(df4['Incident Start Datetime']))

2020-09-01 08:39:00
2020-09-30 00:40:00

### Attributions-202010

In [19]:
fp = '../../local-data/input/Attributions-202010.csv'
df5 = pd.read_csv(fp,
                 dtype=str,
                 encoding='ISO-8859-1', # to prevent unicode error
                 keep_default_na=True,
                 infer_datetime_format=True,
                 parse_dates = date_cols,
                 dayfirst=True
                )

In [20]:
df5 = df5[df5['Incident Start Datetime'] > '2020-09-30 00:40:00']

In [21]:
print(min(df5['Incident Start Datetime']))
print(max(df5['Incident Start Datetime']))

2020-09-30 03:58:00
2020-10-31 23:41:00

### Combine

In [22]:
df = pd.concat([df1, df2, df3, df4, df5])
# df = pd.concat([df2, df3, df4, df5])
df['Incident Number'] = df['Incident Number'].astype('int')
print(df.shape)

(606168, 170)

In [23]:
print(min(df['Incident Start Datetime']))
print(max(df['Incident Start Datetime']))

2014-01-31 00:01:00
2020-10-31 23:41:00

In [24]:
ls=[18964,
19008,
55554,
70226,
116962,
158564,
158652,
170951,
172671,
173316,
175274,
195501,
210154,
219277,
226740,
232458,
238043,
238056,
238237,
257118,
259037,
261935,
262321,
270467,
271063,
283120,
285622,
286686,
298443,
299300,
309326,
312818,
316304,
319905,
328029,
337439,
337656,
338968,
635088,
637335,
651320,
665425,
673398,
690906,
705982,
709559,
755235,
780771,
800685,
808311,
808366,
823546,
845413,
854691,
885419]

In [35]:
df.head()

,Date,English Day Type,Responsible Organisation Full Name,Responsible Type,Network Group,Route,Route Abbrev,Route Name,Area,Area Abbrev,...,Train Class Code - React,Train Class Description - React,Train Class PfPI Flag - React,TSC - React,TSC Description - React,TSC PfPI Flag - React,Service Group Type - React,Service Group Code - React,Service Group Description - React,Headcode - React
0,2014-04-01,WD,Central,Network Rail,NR,E,RCTL,Central,GMWM,GM WM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-04-01,WD,Central,Network Rail,NR,E,RCTL,Central,GMWM,GM WM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-04-01,WD,Central,Network Rail,NR,E,RCTL,Central,GMWM,GM WM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-04-01,WD,Central,Network Rail,NR,E,RCTL,Central,GMWM,GM WM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-04-01,WD,Central,Network Rail,NR,E,RCTL,Central,GMWM,GM WM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:

tmp = df.copy()
tmp = tmp[tmp['Incident Number'].isin(ls)]
tmp.groupby(['Incident Number', 'Date'])[['Incident Number', 'Date']].nunique()

                            Incident Number  Date
Incident Number Date
18964           2020-06-24                1     1
19008           2020-06-24                1     1
55554           2020-07-16                1     1
70226           2020-07-24                1     1
116962          2020-08-17                1     1
158564          2020-09-08                1     1
158652          2020-09-08                1     1
170951          2020-09-14                1     1
172671          2020-09-15                1     1
173316          2020-09-15                1     1
175274          2020-09-16                1     1
195501          2020-09-25                1     1
210154          2020-10-02                1     1
219277          2020-10-06                1     1
226740          2020-10-09                1     1
232458          2020-10-12                1     1
238043          2020-10-14                1     1
238056          2020-10-14                1     1
238237          2020-10-14                1     1
257118          2020-10-22                1     1
635088          2019-12-22                1     1
637335          2019-12-23                1     1
651320          2019-12-30                1     1
665425          2020-01-05                1     1
673398          2020-01-08                1     1
690906          2020-01-14                1     1
705982          2020-01-20                1     1
709559          2020-01-21                1     1
755235          2020-02-06                1     1
780771          2020-02-14                1     1
800685          2020-02-21                1     1
808311          2020-02-24                1     1
808366          2020-02-24                1     1
                2020-02-25                1     1
                2020-02-26                1     1
                2020-02-27                1     1
                2020-02-28                1     1
823546          2020-02-29                1     1
845413          2020-03-09                1     1
854691          2020-03-12                1     1
885419          2020-03-24                1     1

### Subset Incidents of Interest

IMPORTANT: make sure to update this file
* update expert scores
* add new unscored ones

In [19]:
fp = "../../local-data/groundtruth/ground_truth_all.csv"
gt = pd.read_csv(fp,keep_default_na=True)

# store list of GT incidents
ls = gt['IncidentNumber'].tolist()

# remove Incident for which we don't have times (see email)
excludes = [3843, 15530, 17229, 21072, 39060, 53051, 81694, 807934]
ls = [i for i in ls if i not in excludes]

# remove dodgy incidents (to be reviewed) e.g. high score but very large v_reactionary_latestart2primary_delays
excludes2 = [806495, 875499, 82777]
ls = [i for i in ls if i not in excludes2]

# remove unscored workshop 3 incidents
#TODO why are thye not scores? didn't get to them?
excludes3 = [179801, 185648, 193206, 198655]
ls = [i for i in ls if i not in excludes3]

len(ls)

61

In [20]:
len(df[df['Incident Number'].isin(ls)]['Incident Start Datetime'].unique())

61

In [21]:
# tmp = df.copy()
# max(tmp['Incident Start Datetime'])
# len(tmp[tmp['Incident Start Datetime']=='2020-10-28'])

In [22]:
# select subset
tmp = df.copy()
# tmp = tmp[tmp['Incident Number'].isin(ls)] # ls is list of GT incidents
# tmp.shape

In [23]:
tmp['v_incident_uid'] = tmp['Incident Number'].astype(str) + "_" + tmp['Incident Start Datetime'].astype(str)
tmp.set_index('v_incident_uid', inplace=True)
print(tmp.shape)
tmp.head(1)

(84353, 170)

,Date,English Day Type,Responsible Organisation Full Name,Responsible Type,Network Group,Route,Route Abbrev,Route Name,Area,Area Abbrev,...,Train Class Code - React,Train Class Description - React,Train Class PfPI Flag - React,TSC - React,TSC Description - React,TSC PfPI Flag - React,Service Group Type - React,Service Group Code - React,Service Group Description - React,Headcode - React
v_incident_uid,,,,,,,,,,,,,,,,,,,,,
656071_2020-01-01 09:01:00,2020-01-01,BH,Central,Network Rail,NR,E,RCTL,Central,GMWM,GM WM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
f = open('../../local-data/input/pickled_files/Attributions_All_Greg.pickle', 'wb')
pickle.dump(tmp, f)
f.close()

In [25]:
# del df2
# del df3
# del df4
# del df